.env
.env/
venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.coverage
.gitignore
.DS_Store
.idea/
.vscode/
*.log
*.pot
*.pyc
.pytest_cache
.pytest_cache/
.ropeproject
.ropeproject/
.nox/
.tox/
.hypothesis/
.mypy_cache/
.pyre/
.pytype/
cython_debug/
docs/_build/
htmlcov/
.pytest_cache/
.ipynb_checkpoints
Thumbs.db